<!doctype html>
<html>
    <head>
        <title>User Manager</title>
        <style>

            body {
                padding: 20px 50px;
            }

            * {
                font-family: "Courier New", Courier, monospace;
            }

            .description {
                text-align: center;
                color: gray;
                font-size: 30px;
            }
        
        </style>
    </head>
    <body>
        <p class="description">404 - Página não encontrada :( </p>
    </body>
</html>